.TraficLight{
    display: flex;
    flex-direction: column;
}
.buld{
    height: 35px;
    width: 35px;
    border-radius:50%;
}
.TraficLight>.active{
    opacity: 1;
}
.red{
    background-color: red;
    opacity:0.3
}
.green{
    background-color: green;
    opacity:0.3
}
.orange{
    background-color: orange;
    opacity:0.3
}